{{#if basics }}

<header id="header" class="clear">
	<div>
		<h1 class="name"> {{ basics.name}} </h1>
		<h2 class="label"> {{ basics.label }} </h2>
	</div>

	<span class="location">
		<span class="address">2712 Broadway St,</span>
		<span class="postalCode">CA 94115,</span>
		<span class="city">San Francisco,</span>
		<span class="region">California</span>
		<span class="countryCode">US</span>
	</span>


	<div id="contact">
		<div class="website">
			<span class="fa fa-external-link"></span>
			<a target="_blank" target="_blank" href="{{basics.website}}">{{basics.website}}</a>
		</div>
		<div class="email">
			<span class="fa fa-envelope-o"></span>
			<a href="mailto:{{basics.email}}">{{basics.email}}</a>
		</div>
		<div class="phone">
			<span class="fa fa-mobile"></span>
			<a href="tel:{{basics.phone}}">{{basics.phone}}</a>
		</div>
	</div>

	<div id="profiles">


		{{#each basics.profiles }}
		<div class="item">
			<div class="username">
				<span class="fa fa-{{network}} {{network}} social"></span>
				<span class="url">
					<a target="_blank" href="{{ url }}">{{username}}</a>
				</span>
			</div>
		</div>
		{{/each }}

	</div>
</header>

<section class="section main-summary">
	<section>
		<div>
			<p>{{ basics.summary }}</p>
		</div>
	</section>
</section>

{{/if }}