  <section class="section">
      <header>
        <h2 class='section-title'>Publications</h2>
      </header>
      <section id="publications">

        {{#each publications}}
        <section class="publication-item">
            <input id="publication-item-0" type="checkbox" class="toggle-item" checked="checked" />
            <label for="publication-item-0"></label>    
          <header>
            <div class="header-left">
              <span class="name">
              <span class="website">
              <a target="_blank" href="{{website}}">{{name}}</a>
              </span>
              </span>
              <span class="publisher">
              in {{publisher}}
              </span>
            </div>
            <span class="date">
            {{releaseDate}}
            </span>
          </header>    
          <div class="item">  
            <div class="summary">
              <p><p>{{summary}}</p></p>
            </div>
          </div>          
        </section>
        {{/each}}

      </section>
    </section>