<section class="section">
  <header>
    <h2 class='section-title'>Volunteer</h2>
  </header>
  <section id="volunteer">

    {{#each volunteers}}

    <section class="volunteer-item">
      <input id="volunteer-item-0" type="checkbox" class="toggle-item" checked="checked" />
      <label for="volunteer-item-0"></label>
      <header>
        <div class="header-left">
          <div class="position">
            {{position}}
          </div>
          <div class="organization">
            {{organization}}
          </div>
        </div>
        <div class="date">
          <span class="startDate">
            {{startDate}}
          </span>
          <span class="endDate">
            - {{endDate}}
          </span>
        </div>
      </header>
      <div class="website">
        <a target="_blank" href="{{website}}">{{website}}</a>
      </div>
      <div class="item">
        <div class="summary">
          <p>
            <p>{{ summary }}</p>
          </p>
        </div>
        <ul class="highlights">
          {{#each highlights}}
          <li>
            <p>{{ this }}</p>
          </li>
          {{/each}}
        </ul>
      </div>
    </section>

    {{/each}}
  </section>
</section>