<section class="section">
  <header>
    <h2 class='section-title'>Work Experience <span class="item-count">(1)</span></h2>
  </header>

  <section id="work">

    {{#each works}}

    <section class="work-item">
      <input id="work-item-0" type="checkbox" class="toggle-item" checked="checked" />
      <label for="work-item-0"></label>
      <header>
        <div class="position"> {{position}} </div>
        <div class="company">{{company}}</div>
        <div class="date">
          <span class="startDate">{{startDate}}</span>
          <span class="endDate">- {{endDate}}</span>
        </div>
      </header>
      <span class="website">
        <a target="_blank" href="{{website}}">{{website}}</a>
      </span>
      <div class="item" id="work-item">
        <div class="summary">
          <p>
            <p>{{ summary }} </p>
          </p>
        </div>
        <ul class="highlights">
          {{#each highlights}}
          <li>
            <p> {{ this}} </p>
          </li>
          {{/each}}
        </ul>
      </div>
    </section>

    {{/each}}


  </section>
</section>